.detailsMain{
  max-width: 1000px;
  margin: 50px auto;
  /* border: 1px solid red; */
  color: white;
  font-size: 20px;

}

.detailsForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.detailsInput{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content:center;

  align-items: flex-start;

  margin: 10px;
}
.detailsInput>h4{
  margin-right: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}
.detailsInput>input{
  margin-right: 20px;
  width: 300px;
  height: 30px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 16px;
}
.submitBtnDiv{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

}
.submitBtn{
  font-size: 20px;
  margin-top: 50px;
  padding: 5px;
  width: 200px;
  font-weight: 700;
  letter-spacing: 1px;


}
.submitBtn:hover{
  background-color: #123;
  color:#fff;
}
.radioInput{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.radioInput>div{
margin-right: 20px;

}
.radioInput>div>label{
  font-size: 20px;
  margin: 0 10px;
  font-weight: 600;

}
.detailHead{
  margin: 20px;
  text-align: center;
  letter-spacing: 1px;
}

.statusHead{
  text-align: center;
  font-size: larger;
  margin: 10px 0;
}

@media screen and  (max-width:486px){
  .detailsForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
}