.detailsMain{
  max-width: 1000px;
  margin: 50px auto;
  border: 1px solid red;
}

.detailsForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.detailsInput{
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}